<!DOCTYPE html>
<html>
<head>
    <title>Website - Login</title>
    <meta charset="UTF-8">
<!--=====================================================================-->
<style>

</style>
</head>
<body>
<!--=====================================================================-->
    <h1>Login form</h1>
    <form onsubmit="return checkUsername(event)" action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value=""><br><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value=""><br><br>
        {{if (index . "Token") }}
        <input id="Token" type="hidden" name="Token" value="{{(index . "Token")}}">
        {{end}}
        <input id="button" type="submit" value="login">
        <br>
    </form> 

    <p  id="warning" 
        style="font-style: italic;font-size: 15px;color:Tomato; visibility: hidden">
        wtf.
    </p>

    {{if (index . "ErrorLogin") }}
    <p  id="errorlogin" style="font-style: italic;font-size: 15px;color:Tomato;">
        {{(index . "ErrorLogin")}}
    </p>
    {{end}}

    <p>Don't have account yet?&nbsp;<a href="/register"> Register</a></p>
<!--=====================================================================-->
<script>
    function checkUsername(e) {
        var un = document.getElementById('username').value;
        var pa = document.getElementById('password').value;
        var wn = document.getElementById("warning");
        var tk = document.getElementById('Token');

        if (un == "" || pa == "") {
            wn.innerHTML = "Username or Password cannot be blank.";
            wn.style.visibility = "visible";
            e.preventDefault();
            return false;
        } 

        wn.style.visibility = "hidden";
        //location.replace("./chatroom.html")
        //window.open('./chatroom.html');

        if (tk==null || tk.value=="") {
            e.preventDefault();
            return false;
        }

        return true;
    }
</script>
</body>
</html>